* {
    margin: 0;
}

body {
    font-size: medium;
    background-color: #FFFFFF;

}

header {

    color: #000026;
    background-color: #007BFF;

}



nav ul li {

    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 0;
    margin-right: 0;



}



.nav-url {
    text-decoration: none;
    color: #c5def9;
}

.nav-url:hover {
    display: flex;
    text-decoration: none;
    color: rgb(13, 3, 80);
    padding: 5px;
    padding-top: 2px;
    padding-bottom: 2px;

    border: none;
    border-radius: 10px;
    font-weight: 700;

    background: white;
}

.head-p {
    color: white;
}

.cover-pic {


    padding: 6%;
    width: 100%;
    background-color: #007BFF;

}




.about-us {
    background-color: white;
}

.about-pic {
    border: none;
    border-radius: 5%;
    width: 40%;
}

.goal-border {

    background-color: #cacacadb;
    border: none;
    border-radius: 5px;

}

.goal-btn {
    border: none;
    border-radius: 5px;
    padding: 3%;
    font-weight: 600;
    background-color: white;
    color: black;
    margin: 3%;
}

.company-detail {
    display: none;
}

.card-image {
    margin: 7%;
    margin-top: 5px;
    padding: 5%;
}


.card-head {
    margin-top: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: 20%;
    margin-right: 20%;
    font-size: medium;


    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 20px;

}

.workbase-heading {

    background-color: rgb(0, 22, 90);
    color: white;
    padding: 15px;
    border: navajowhite;
    border-radius: 15px;
    margin-left: 30%;
    margin-right: 30%;
}

.work-based {
    background-color: #007BFF;

}

.our-work {

    background-color: #FFFFFF;

}

.worked-box {

    border: none;
    border-radius: 5%;
    margin: 5%;
    box-shadow: 0 0 30px rgb(33 33 33 / 20%);

}

.card2-image {
    margin: 7%;
    margin-left: 0;
    margin-top: 5px;
    padding: 5%;
    width: 500px;
    height: 500px;
    margin: 2%;
}

.topic-title {

    padding-left: 2%;
    padding-top: 3%;
}



/* .contact {

    background-color: #FFFFFF;
} */


.phone-icon {

    background-color: #007BFF;
    color: white;
    padding: 15px;
    border: none;

}

.contact-detail {

    padding-bottom: 5%;
    margin: 7%;
}

.heading-contact {

    color: #007BFF;
    border-radius: 15px;
    padding-bottom: 5%;
    /* margin: 7%; */


}

.card-border {

    margin-top: 20px;
    padding: 0;
    border-radius: 25px;
}

.form-input {


    padding: 2%;
    padding-right: 15%;
    /* padding-left: 15%; */
    margin: 2%;
    margin-left: 10%;


    color: black;
    border-radius: 25px;
}


.heading-form {
    color: #007BFF;
}

.msg-box {
    /* padding-left: 32%; */
    margin-right: 5%;
}


@media only screen and (max-width: 1500px) {
    body {
        background-color: lightblue;
    }

    .form-input {


        padding: 2%;
        padding-right: 15%;
        /* padding-left: 15%; */
        margin: 2%;
        margin-left: 4%;


        color: black;
        border-radius: 25px;
    }

}


@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }

    .form-input {


        padding: 2%;
        padding-right: 3%;
        /* padding-left: 15%; */
        margin: 2%;
        margin-left: 3%;


        color: black;
        border-radius: 25px;
    }

}


/* message-list page  */




.message-list {

    background-color: rgb(0, 22, 90);
    color: white;
}

.message-list:hover {

    background-color: rgb(0, 22, 90);
    color: wheat;
    cursor: grab;
}


/* notice list  */

.table-borded {

    /* margin-top: 5%; */
    padding: 5%;
    cursor: context-menu;
    background-color: rgb(0, 22, 90);
    color: white;
}



/* jobadd form  */

.label-job {

    background-color: rgb(0, 67, 168);
    border: #000026;
    border-radius: 15px;
    padding: 10px;
    color: white;
}

.full-form {
    background-color: #007BFF;

}

.job-add-form {

    background-color: #007BFF;
}

.job-submit {
    background-color: rgb(5, 113, 34);
    color: rgb(255, 255, 255);

    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border: none;
    border-radius: 15px;
    font-weight: 700;
    margin: 25px;
    margin-left: 0;

}

.btn-notice {

    background-color: rgb(29, 115, 0);
    color: #ddddef;
}


.notice-list-description {

    background-color: #b8cee5;
    color: #000;
    padding: 5%;
    font-weight: 700;
    font-size: x-large;

}


.foot-border {

    border-top: rgb(0, 81, 148);
    border-style: groove;
    border-top-width: 5%;
    background-color: lightblue;
    color: #00003b;
    font-weight: 700;
}


.noticelist-card {

    width: 550px;
    height: 500px;
    margin-left: 30px;

}